html {
    font-size: 100%;
    color: white;
}

a:link, a:visited {
    color: white;
}

#logo:hover {
  cursor: pointer;
  animation: jello-horizontal 0.9s both; 
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	animation: jello-horizontal 0.9s both;
}

@-webkit-keyframes jello-horizontal {
0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes jello-horizontal {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
      }
    }

    #cloud-2 {
      opacity: 0;
      transition: opacity .75s ease-in;
    }

    #cloud-2:hover  {
      opacity: 1;
    }

    #cloud-1 {
      transform: translateX(-100%);
      opacity: 0;
      transition: opacity .75s ease-in, 
      transform .75s ease-in;
    }
    
    #cloud-1:hover  {
      transform: translateX(0rem);
      opacity: 1;
    }

  /*     CONTENT       */
      
  body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: rgb(55,9,111);
  background: linear-gradient(0deg, rgba(55,9,111,1) 0%, rgba(83,29,83,1) 49%, rgba(150,115,150,1) 100%);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  background-attachment: fixed;
  }

#title, #album {
    width: 50vw;
    height: auto;
    margin: 0 auto;
}

.examples {
    width: 300px;
    height: 150px;
    margin: 0 auto;
}

.examples:nth-of-type(4){
border: 1px solid white;
}


h2 {
    width: 80%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#moon:hover .moon-crater{
  fill:#fff;
  cursor: pointer;
}

  /*      MEDIA QUERIES       */

@media screen and (min-width: 480px) {
/* body {
    align-items: center;
} */
 main {
     display: flex;
     flex-direction: row;
     flex-flow: row wrap;
     width: 90%;
     margin: 0 auto;
     justify-content: center;
 }

 h2 {
     font-size: 1.5rem;
 }

.examples {
     margin: 0 .5rem;
     width: 45%;
 }

 /* figcaption {
     font-size: 1rem;
 } */
}


@media screen and (min-width: 768px) {

    object {
        margin: 0 1.5rem;
    }

    .examples {
      margin: 0 .5rem;
      width: 30%;
    }
}

@media screen and (min-width: 1280px) {
  .examples {
    margin: 0 .5rem;
    width: 23%;
}
}