html {
    font-size: 100%;
    color: white;
}

a:link, a:visited {
    color: white;
}

body {
    background: rgb(55,9,111);
    background: linear-gradient(0deg, rgba(55,9,111,1) 0%, rgba(83,29,83,1) 49%, rgba(150,115,150,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title, #album {
    width: 50vw;
    height: auto;
    margin: 0 auto;
}

.examples {
    width: 300px;
}

h2 {
    width: 80%;
}

@media screen and (min-width: 768px) {
/* body {
    align-items: center;
} */
 main {
     display: flex;
     flex-direction: row;
     flex-flow: row wrap;
     width: 90%;
     margin: 0 auto;
 }

 h2 {
     font-size: 1.5rem;
 }

 figure {
     margin: 0 1rem;
 }

 figcaption {
     font-size: 1rem;
 }
}


@media screen and (min-width: 1280px) {
    figure {
        margin: 0 1rem;
    }
}