html {
    font-size: 100%;
}

body {
    background: rgb(204,153,204);
    background: linear-gradient(0deg, rgba(204,153,204,1) 0%, rgba(255,255,153,1) 75%, rgba(246,194,134,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title, #album {
    width: 65vw;
    height: auto;
}

.examples {
    width: 80vw;
}

@media screen and (min-width: 1024px) {
/* body {
    flex-direction: row;
} */
 main {
     display: flex;
     flex-flow: row wrap;
     width: 80%;
 }

 .examples {
     width: 400px;
 }

 h2 {
     font-size: 1.5rem;
 }

 figcaption {
     font-size: 1rem;
 }
}
/* 
@media screen and (min-width:480px) {

}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1280px) {
    
} */